:root {
	--input-field-width: 100%;
	--question-field-width: 73vw; 
	--response-field-width: 73vw; 
	--font-family: Verdana, Geneva, sans-serif;
}

body {
	font-family: var(--font-family, Verdana, Geneva, sans-serif);
	color: hsl(213, 79%, 25%);
	background-color: hsl(153, 79%, 93%);
	font-size: medium;
}

#container {
	padding: 0vw 4vw;
}

header p {
	padding: 6vw;
}

.heading {
	margin: -2px -2px 10px -2px ;
	border-style: solid;
	border-width: 2px;
	border-radius: 5vw 5vw 0 0;
	border-color: hsl(33, 79%, 50%);
	background-color: hsl(33, 95%, 98%);
}

header, section {
	border-style: solid;
	border-width: 2px;
	border-radius: 5vw;
	border-color: hsl(33, 79%, 50%);
	box-shadow: 2px 2px 3px;
	margin-bottom: 6vw;
	background-color: hsl(33, 79%, 93%);
}


h1, h2 {
	text-align: center;
	text-shadow: .5px .5px;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
}

p {
	text-align: justify;
	font-size: small;
}

section {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(auto-fill, auto);
	grid-row-gap: 1px;
}

.question {
	display: block;
	margin: 0 auto;
	margin-bottom: 3px;
	width: var(--question-field-width, 73vw);
	text-shadow: .5px .5px;
}

.response {
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	width: var(--response-field-width, 73vw);
}

input:not([type='checkbox']):not([type="radio"]){
	width: var(--input-field-width, 100%);
	font-family: var(--font-family, Verdana, Geneva, sans-serif);
	font-size: medium;
}

#dropdown {
	width: var(--input-field-width, 100%);
	font-size: medium;
}

#comment {
	width: var(--input-field-width, 100%);
	height: 40vh;
	display: block;
	margin: auto;
  font-family: var(--font-family, Verdana, Geneva, sans-serif);
	font-size: medium;
}

fieldset {
	margin-bottom: 3vw;
}

legend {
	display: block;
	margin: auto;
	font-weight: bold;
}

fieldset p {
	font-size: small;
}

.disclaimer {
	font-weight: bold;
	color: red;
}

.mc-choice, .ms-choice {
	font-size: small;
}

#buttons {
	display:flex;
}

.button {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 3vw;
	font-size: small;
}

footer p {
	text-align: center;
	font-size: small;
}
