h1, h2 {
	text-align: center;
}

#container {
	padding: 0vw 4vw;
}

header p {
	text-align: justify;
	padding: 0vw 3vw;
}

#buttons {
	display:flex;
}

.button {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 3vw;
	font-size: small;
}

footer {
	text-align: center;
	font-size: small;
}

section {
	border: 1px;
	border-style: solid;
	border-radius: 5vw;
	padding: 2vw;
	margin: 6vw 0vw;
}

.response {
	align: center;
}

input:not([type='checkbox']):not([type="radio"]){
	width: 71vw;
	display: block;
	margin: auto;
}

#dropdown {
	width: 75vw;
	display: block;
	margin: auto;
}

#comment {
	width:71vw;
	height: 40vh;
	display: block;
	margin: auto;
}

legend {
	display: block;
	margin: auto;
}

.disclaimer {
	font-weight: bold;
	color: red;
}
