h1, h2 {
	text-align: center;
}

#container {
	padding: 0vw 4vw;
}

header {
	padding: 0vw 3vw;
}

p {
	text-align: justify;
}

#buttons {
	display:flex;
}

.button {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 3vw;
	font-size: small;
}

footer {
	text-align: center;
	font-size: small;
}

section {
	border-style: solid;
	border-width: 1px;
	border-radius: 5vw;
	padding: 2vw;
	margin-bottom: 6vw;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(auto-fill, auto);
	grid-row-gap: 1px;
}

.question {
	display: block;
	margin: 0 auto;
	width: 90%;
}

/* fieldset .question { */
/* 	/1* margin-left: 1.5vw; *1/ */
/* } */

.response {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 90%;
}

input:not([type='checkbox']):not([type="radio"]){
	width: 100%;
}

#dropdown {
	width: 75vw;
	display: block;
	margin: auto;
}

#comment {
	width:71vw;
	height: 40vh;
	display: block;
	margin: auto;
}

legend {
	display: block;
	margin: auto;
}

.disclaimer {
	font-weight: bold;
	color: red;
}

fieldset {
	margin-bottom: 3vw;
}

.long {
	text-align:justify;
}
